 #sidebar {
   position: fixed;
   top: 0;
   left: 0;
   width: 300px;
   height: 100vh;
   background-color: rgba(255, 255, 255, 0.9);
   z-index: 1;
   overflow-y: auto;
   margin-top: 80px;
   opacity: 0;
   /* Start with sidebar hidden */
   transition: opacity 0.5s ease-in-out;
   /* Smooth transition for opacity */
   display: none;
   /* Initially not displayed */
   text-align: center;
 }

 button {
  background-color: rgba(62, 62, 62, 0.5);
  color: white;
  padding: 5px 12px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  font-family: "Noto Sans TC", Arial, Helvetica, sans-serif;
  font-size: 0.7em;
}

button:hover {
  background-color: rgb(206, 206, 206);
  color:grey;
}

 #logo {
   position: absolute;
   top: 20px;
   left: 4%;
   width: 120px;
   z-index: 2;
   opacity: 0.7;
 }

 #logo:hover {
   opacity: 1;
 }

 footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 50px;
   background-color: black;
   color: white;
   text-align: center;
   z-index: 100;
   font-size: 0.6em;
 }

 a {
   color: rgb(188, 188, 188);
   text-decoration: none;
 }

 a:hover {
   color: white;
 }

 #a-icon:hover {
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
 }

 p {
   font-size: 0.6em;
 }

 #info {
   color: rgb(103, 103, 103);
   text-decoration: none;
   font-size: 1em;
 }

 #info:hover {
   color: rgb(254, 43, 145);
 }

 
/* #sidebar:hover a {
  color: rgb(254, 43, 145);
 } */

 #caption {
   color: rgb(103, 103, 103);
   text-decoration: none;
   font-size: 0.6em;
 }

 #imdb {
   color: grey;
 }

 #map-container {
   position: relative;
   height: 100vh;
   width: 100%;
   overflow: hidden;
   background-color: black;
 }

 #map {
   height: calc(100% - 100px);
   /* Account for the black bars */
   width: 100%;
 }

 .black-bar {
   position: absolute;
   width: 100%;
   height: 100px;
   background-color: black;
   z-index: 2;
 }

 .top-bar {
   top: 0;
 }

 .bottom-bar {
   bottom: 0;
 }

 html,
 body {
   height: 100%;
   margin: 0;
   padding: 0;
   font-family: "Noto Sans TC", Arial, Helvetica, sans-serif;
   cursor: crosshair;
 }

 h1 {
   color: rgb(29, 29, 29);
   font-family: "Noto Sans TC", Arial, Helvetica, sans-serif;
   font-size: 1.5em;
 }

 .particles {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1000;
   pointer-events: none;
 }
 